@import '~scss/vars';

header{
  width:$menu-width;
  margin: 100px auto;
  display: flex;
  align-items: baseline;
  font-weight: bold;
  font-size: 1.15em;


  .svg{
  	width: 25%;
  }

  .menu{
	flex-grow:1;
  	ul{
  		display:flex;
  		list-style-type: none;
  		justify-content: space-around;
  		width:100%;

  		a{
  			color:#4C5B67;
  		}
  	}
  }
}
