<footer>
	<div class="col">
		<div><h3>Contact Us</h3></div>
		<div><a href="info@gny.io">info@gny.io</a></div>
​
	</div>
	<div class="col" id="bloc2">
		<div id="comunity-title">
			<h3>Join Our <br> Comunity</h3>
		</div>
		<div class="logo">
			<img id="comp-im63vmjt10imageimageimage" alt="telegram_icon" data-type="image" style="width: 37px; height: 37px; object-fit: cover;" src="http://67.207.157.12:8080/genie/jsp/gnyioform_events_files/cddf32_8388b2c892f6407ba3dbf58f7362e28dmv2.png">
		</div>
		<div class="logo">
			<img id="comp-im63vmjt11imageimageimage" alt="medium-logo-png-medium-icon-png-50-px-1600" data-type="image" style="width: 37px; height: 37px; object-fit: cover;" src="http://67.207.157.12:8080/genie/jsp/gnyioform_events_files/cddf32_953b8cc4c74e4327bde45b75b0e3753dmv2_d_1600_1600_s_2.png">
		</div>
		<div class="logo">
			<img id="comp-im63vmjt11imageimageimage" alt="medium-logo-png-medium-icon-png-50-px-1600" data-type="image" style="width: 37px; height: 37px; object-fit: cover;" src="http://67.207.157.12:8080/genie/jsp/gnyioform_events_files/aeb686ff41244d85bc1232fcf7325ec0.png">
		</div>
	</div>
	<div class="col">
		<span style="color:#A0A09F;"><span style="font-family:wfont_cddf32_e9eeef29d23345aa9b1c916c3a9dc9d5,wf_e9eeef29d23345aa9b1c916c3,orig_raleway;">© 2018&nbsp;by gny.io Limited</span></span>
	</div>
</footer>
