$background-color: #FF0;

//color pallete
$color-secondary-light: #bec6ca;
$color-secondary: #000;

//Home page
$home-width: 80%;


//input
$input-border-raduis: 5px;
$input-border-raduis-focused: 1px;
$input-border-width: 1px;
$input-border-color: $color-secondary-light;
$input-border-color-focus: #00F;
