$background-color: #FF0;

//color pallete
$color-secondary-light: #bec6ca;
$color-secondary: #000;

//Home page
$home-width: 60%;


//input
$input-border-raduis: 10px;
$input-border-width: 1px;
$input-border-color: $color-secondary-light;

$input-border-raduis-focused: 4px;
$input-border-color-focused: rgba(82,135,223,0.7);
$input-border-shadow-focused: rgba(102,175,233,0.6);
